<!-- Botones-->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <h4 align="center"><small class="text-muted">Gestionar pagos</small></h4>
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <!--<label for="proyecto">Proyecto</label>-->
                        <select class="custom-select custom-select-sm" formControlName="proyecto"
                            [(ngModel)]="pago.id_proyecto" (change)="listLote(pago.id_proyecto, idLote)">
                            <option [value]="0">Seleccione el proyecto</option>
                            <option [value]="proyecto.id" *ngFor="let proyecto of proyectos">{{ proyecto.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <!--<label for="proyecto">Proyecto</label>-->
                        <select class="custom-select custom-select-sm" formControlName="lote" [(ngModel)]="idLote"
                            (change)="listLote(pago.id_proyecto, idLote)">
                            <option [value]="0">Seleccione el inmueble</option>
                            <option [value]="lote.id" *ngFor="let lote of lotes">{{ lote.numero }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--Lista de lotes-->
<section id="lotes">
    <div clas="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-heard">
                        <h4>Listado de inmuebles del proyecto</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <td align="center">#</td>
                                <td align="center">Proyecto</td>
                                <td align="center">Numero</td>
                                <td align="center">Asociado</td>
                                <td align="center">Valor pagado</td>
                                <td align="center">Descuento</td>
                                <td align="center">Valor total</td>
                                <td align="center">Saldo</td>
                                <td align="center">Legalización</td>
                                <td align="center">Saldo<br>legalización</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lote of lotes; let i = index">
                                <td align="center">{{i+1}}</td>
                                <td align="center">{{lote.proyecto}}</td>
                                <td align="center">{{lote.numero }}</td>
                                <td align="left">{{lote.asociado}}</td>
                                <td align="right">{{lote.valor_pagado | number}}</td>
                                <td align="right">{{lote.descuento | number}}</td>
                                <td align="right">{{lote.valor_lote | number}}</td>
                                <td align="right">{{lote.saldo | number}}</td>
                                <td align="right">{{lote.legalizacion | number}}</td>
                                <td align="right">{{lote.saldo_legalizacion | number}}</td>
                                <td *ngIf="solo_lectura==0">
                                    <a [routerLink]="['/hacerPago', lote.id_lote]" class="secondary-content">
                                        <i class="fa fa-money"></i>
                                    </a>
                                    &nbsp;
                                    <a routerLink="/pago" class="secondary-content">
                                        <i (click)="listLegalizacion(lote)" class="fas fa-coins" data-toggle="modal"
                                            data-target="#listLegalizacion"></i></a>
                                    &nbsp;
                                    <a routerLink="/pago" class="secondary-content"><i (click)="returnLote(lote)"
                                            class="fa fa-arrow-left"></i></a>
                                    &nbsp;
                                    <a routerLink="/pago" class="secondary-content"><i (click)="traspaseLote(lote)"
                                            class="fa fa-user-plus" data-toggle="modal" data-target="#traspaso"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ventana modal traspaso-->
<div class="modal fade" id="traspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar traspaso de inmueble</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="addTraspase">
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-4">
                                <p><b>Proyecto: </b>{{traspaso.proyecto}}</p>
                            </div>
                            <div class="col-2">
                                <p><b>Lote #: </b>{{traspaso.numero}}</p>
                            </div>
                            <div class="col-3">
                                <p><b> Valor: </b>{{traspaso.valorLote | number}}
                                </p>
                            </div>
                            <div class="col-3">
                                <p><b> Saldo: </b>{{traspaso.saldo | number}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Asociado: </b>{{traspaso.asociado}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6>Comprador</h6>
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="idNuevo"
                                    [(ngModel)]="idAsociado" placeholder="Documento del nuevo comprador">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addTraspase.get('idNuevo')?.invalid && (addTraspase.get('idNuevo')?.dirty || addTraspase.get('idNuevo')?.touched)">
                                    Este campo es requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <br><button type="button" class="btn btn-success" (click)="getAsociado()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <p><b>Nombre:</b> </p>
                            <p>{{asociado}}</p>
                        </div>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="addTraspaso()" [disabled]="!addTraspase.valid"
                    data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Pago de legalización-->
<div class="modal fade" id="listLegalizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar pago legalización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="addFormLegalizacion">
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-4">
                                <p><b>Proyecto: </b>{{pago.proyecto}}</p>
                            </div>
                            <div class="col-2">
                                <p><b>Lote #: </b>{{pago.numero}}</p>
                            </div>
                            <div class="col-3">
                                <p><b> Valor: </b>{{pago.valorLote | number}}
                                </p>
                            </div>
                            <div class="col-3">
                                <p><b> Saldo: </b>{{pago.saldo | number}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b> Cliente: </b>{{pago.asociado}}
                        </div>
                        <div class="col-md-3">
                            <p><b> Legalización: </b>{{pago.legalizacion | number}}
                        </div>
                        <div class="col-md-3">
                            <p><b> Saldo Legalización: </b>{{pago.saldo_legalizacion | number}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Listado de pagos legalización ddel inmueble</h4>
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <td align="center">#</td>
                                        <td align="center">Fecha</td>
                                        <td align="center">Valor</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pagoLegalizacion of legalizaciones; let i = index">
                                        <td align="center">{{i+1}}</td>
                                        <td align="center">{{pagoLegalizacion.fecha}}</td>
                                        <td align="center">{{pagoLegalizacion.pagoLegalizacion | number}}</td>
                                        <td>
                                            <a routerLink="/pago" class="secondary-content"><i
                                                    (click)="printPagoLegalizacion(pagoLegalizacion)" class="fa fa-print"></i></a>
                                            &nbsp;
                                            <a routerLink="/pago" class="secondary-content"><i
                                                    (click)="delPagoLegalizacion(pagoLegalizacion)" class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Información de pago</h6>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="pago">Valor pago</label>
                                <input type="number" class="form-control" formControlName="pago" [(ngModel)]="legalizacion.pago"
                                    placeholder="Valor pagado">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addFormLegalizacion.get('pago')?.invalid && (addFormLegalizacion.get('pago')?.dirty || addFormLegalizacion.get('pago')?.touched)">
                                    Este campo es requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="date" class="form-control" formControlName="fecha" [(ngModel)]="legalizacion.fecha"
                                    placeholder="Fecha de pago">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer" *ngIf="!editarPago">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetPago()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="addLegalizacion()" [disabled]="!addFormLegalizacion.valid"
                    data-dismiss="modal">Guardar</button>
            </div>
            <div class="modal-footer" *ngIf="editarPago">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="resetPago()">Cerrar</button>
                <!--<button type="button" class="btn btn-primary" (click)="updatePago()" [disabled]="!addFormLegalizacion.valid"
                    data-dismiss="modal">Guardar</button>-->
            </div>
        </div>
    </div>