<!-- Botones-->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <h4 align = "center"><small class="text-muted">Pago de comisiones</small></h4>
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" formControlName="sl_proyecto"
                            [(ngModel)]="idProyecto" (change)="listLote(idProyecto, idAsesor)">
                            <option [value]="0">Seleccione el proyecto</option>
                            <option [value]="proyecto.id" *ngFor="let proyecto of proyectos">{{ proyecto.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="txt_idAsesor" [(ngModel)]="idAsesor"
                            placeholder="Documento del vendedor">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" (click)="listLote(idProyecto, idAsesor)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!--Lista de lotes-->
<section id="lotes">
    <div clas="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-heard">
                        <h4>Listado de inmuebles del proyecto</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <td align="center">#</td>
                                <td align="center">Inmueble<br>Numero</td>
                                <td align="center">Cliente</td>
                                <td align="center">Valor total</td>
                                <td align="center">Saldo</td>
                                <td align="center">Asesor</td>
                                <td align="center">Comisión</td>
                                <td align="center">Valor<br>pagado</td>
                                <td align="center">Saldo<br>comisión</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lote of lotes; let i = index">
                                <td align="center">{{i+1}}</td>
                                <td align="center">{{lote.numero}}</td>
                                <td align="left">{{lote.asociado}}</td>
                                <td align="right">{{lote.valor_lote | number}}</td>
                                <td align="right">{{lote.saldo | number}}</td>
                                <td align="left">{{lote.asesor}}</td>
                                <td align="right">{{lote.comision | number}}</td>
                                <td align="right">{{lote.pago_comision | number}}</td>
                                <td align="right">{{lote.saldo_comision | number}}</td>
                                <td>
                                    <a routerLink="/pagoComision" class="secondary-content">
                                    <i (click)="listPago(lote)" class="fa fa-eye" data-toggle="modal" data-target="#listPagos"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Ventana modal adicionar venta-->
<div class="modal fade" id="listPagos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <p><b>Proyecto: </b>{{pago.proyecto}}</p>
                    </div>
                    <div class="col-2">
                        <p><b>{{pago.tipo}}: </b>{{pago.numero}}</p>
                    </div>
                    <div class="col-3">
                        <p><b> Valor: </b>{{pago.valor_lote | number}}
                        </p>
                    </div>
                    <div class="col-3">
                        <p><b> Saldo: </b>{{pago.saldo | number}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Información de la comisión</h6>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <p><b> Valor total: </b>{{pago.comision | number}}</p>
                    </div>
                    <div class="col-4">
                        <p><b> Valor pagado: </b>{{pago.pago_comision | number}}</p>
                    </div>
                    <div class="col-4">
                        <p><b> Saldo: </b>{{pago.saldo_comision | number}}</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Pagos realizados</h4>
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <td align="center">#</td>
                                    <td align="center">Fecha</td>
                                    <td align="center">Valor</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let comision of comisiones; let i = index">
                                    <td align="center">{{i+1}}</td>
                                    <td align="center">{{comision.fecha}}</td>
                                    <td align="center">{{comision.valor | number}}</td>
                                    <td>
                                        <a routerLink="/pagoComision" class="secondary-content"><i
                                                (click)="printPago(comision)" class="fa fa-print"></i></a>
                                        &nbsp;
                                        <a *ngIf="solo_lectura==0" routerLink="/pagoComision" class="secondary-content"><i
                                                (click)="delPago(comision)" class="fa fa-trash"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row" *ngIf="solo_lectura==0">
                    <div class="col-4">
                        <form [formGroup]="addForm">
                            <h6>Información de pago</h6>
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="pago"
                                    [(ngModel)]="pago.valor" placeholder="Valor a pagar">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="addForm.get('pago')?.invalid && (addForm.get('pago')?.dirty || addForm.get('pago')?.touched)">
                                    Este campo es requerido
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button *ngIf="solo_lectura==0" type="button" class="btn btn-primary" (click)="addPago()" [disabled]="!addForm.valid"
                    data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>