<div class="container">
    <h4 align="center"><small class="text-muted">Realizar pago</small></h4>
    <div>
        <div class="row">
            <div class="col-4">
                <p><b>Proyecto: </b>{{datosLote.proyecto}}</p>
            </div>
            <div class="col-2">
                <p><b>Lote #: </b>{{datosLote.numero}}</p>
            </div>
            <div class="col-3">
                <p><b> Valor: </b>{{datosLote.valorLote | number}}
                </p>
            </div>
            <div class="col-3">
                <p><b> Saldo: </b>{{datosLote.saldo | number}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><b> Cliente: </b>{{datosLote.asociado}}
        </div>
        <div class="col-md-3">
            <p><b> Legalización: </b>{{datosLote.legalizacion | number}}
        </div>
        <div class="col-md-3">
            <p><b> Saldo Legalización: </b>{{datosLote.saldo_legalizacion | number}}
        </div>
    </div>
    <form [formGroup]="addForm">
        <div class="row">
            <div class="col-md-12">
                <h4>Listado de pagos del inmueble</h4>
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <td align="center">#</td>
                            <td align="center">Fecha</td>
                            <td align="center">Valor</td>
                            <td align="center">Descuento</td>
                            <td align="center">Motivo</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pago of pagos; let i = index">
                            <td align="center">{{i+1}}</td>
                            <td align="center">{{pago.fecha}}</td>
                            <td align="center">{{pago.pago | number}}</td>
                            <td align="center">{{pago.descuento | number}}</td>
                            <td align="left">{{pago.motivo}}</td>
                            <td>
                                <a [routerLink]="['/hacerPago', id]" class="secondary-content">
                                    <i (click)="printPago(pago)" class="fa fa-print"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="['/hacerPago', id]" class="secondary-content">
                                    <i (click)="delPago(pago)" class="fa fa-trash"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="['/hacerPago', id]" class="secondary-content">
                                    <i (click)="getPago(pago.id)" class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
        </div>
        <hr>
        <div class="row">
            <h6>Información de pago</h6>
            <div class="col-4">
                <div class="row">
                    <label for="valorDetalle">Valor</label>
                    <input type="number" class="form-control" formControlName="valorDetalle" [(ngModel)]="valorDetalle"
                        placeholder="Valor">
                </div>
                <div class="row">
                    <label for="descuentoDetalle">Descuento</label>
                    <input type="number" class="form-control" formControlName="descuentoDetalle"
                        [(ngModel)]="descuentoDetalle" placeholder="Valor del descuento">
                </div>
                <div class="row mb-3">
                    <label for="formaPago">Forma de Pago</label>
                    <select class="custom-select custom-select-sm" formControlName="formaPago" [(ngModel)]="forma_pago">
                        <option [value]="formaPago.detalle" *ngFor="let formaPago of formasPago">
                            {{ formaPago.detalle }}
                        </option>
                    </select>
                </div>
                <div class="row mb-3" *ngIf="forma_pago=='Permuta'">
                    <label for="descripcionPermuta">Descripción</label>
                    <textarea class="form-control" formControlName="descripcionPermuta" rows="2"
                        [(ngModel)]="descripcionPermuta" placeholder="Descripción de la permuta"></textarea>
                </div>
                <div class="row mb-3" *ngIf="forma_pago=='Permuta'">
                    <label for="archivo">Archivo de soporte</label>
                    <input class="form-control" type="file" formControlName="archivo" (change)="loadFile($event)">
                </div>
                <div class="row">
                    <button class="btn btn-primary" (click)="addValor()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <td align="center">#</td>
                            <td align="center">Forma de pago</td>
                            <td align="center">Valor</td>
                            <td align="center">Descuento</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let forma of formas; let i = index">
                            <td align="center">{{i+1}}</td>
                            <td align="center">{{forma.detalle}}</td>
                            <td align="center">{{forma.valor | number}}</td>
                            <td align="center">{{forma.descuento | number}}</td>
                            <td><a [routerLink]="['/hacerPago', id]" class="secondary-content"
                                    (click)="delValor(i, $event)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                &nbsp;
                                <a *ngIf="forma.detalle === 'Permuta'" [routerLink]="['/hacerPago', id]"
                                    class="secondary-content"><i (click)="getPermuta(forma)" class="fa fa-info-circle"
                                        data-toggle="modal" data-target="#showPermuta"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="pago">Total pago</label>
                    <input type="number" class="form-control" formControlName="pago" [(ngModel)]="pago.pago"
                        placeholder="Valor pagado" readonly="true">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="descuento">Total Descuento</label>
                    <input type="number" class="form-control" formControlName="descuento" [(ngModel)]="pago.descuento"
                        placeholder="Valor descuento" readonly="true">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="motivo">Motivo</label>
                    <input type="text" class="form-control" formControlName="motivo" [(ngModel)]="pago.motivo"
                        placeholder="Motivo del descuento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control" formControlName="fecha" [(ngModel)]="pago.fecha"
                        placeholder="Fecha de pago">
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="observacion">Observación</label>
                    <textarea class="form-control" formControlName="observacion" rows="2" [(ngModel)]="pago.observacion"
                        placeholder="Observación"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="!editarPago" class="d-flex gap-2">
            <button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
            <button type="button" class="btn btn-primary" (click)="addPago()"
                [disabled]="!addForm.valid">Guardar</button>
            <div *ngIf="pago.saldo==0 && pago.saldo_legalizacion==0">
                <button type="button" class="btn btn-info" (click)="prnPazSalvo()">Paz y salvo</button>
            </div>
        </div>
        <div *ngIf="editarPago" class="d-flex gap-2">
            <button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
            <button type="button" class="btn btn-primary" (click)="updatePago()"
                [disabled]="!addForm.valid">Guardar</button>
            <div *ngIf="pago.saldo==0 && pago.saldo_legalizacion==0">
                <button type="button" class="btn btn-info" (click)="prnPazSalvo()">Paz y salvo</button>
            </div>
        </div>
    </form>
</div>

<!--Ventana modal ver permuta-->
<div class="modal fade" id="showPermuta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver información de la permuta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <p><b>Proyecto:</b> {{datosLote.proyecto}}</p>
                        </div>
                        <div class="col-4">
                            <p><b>Numero:</b> {{datosLote.numero}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p><b>Valor:</b> {{infoPermuta.valor}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <p><b>Descripción de la permuta: </b>{{infoPermuta.descripcion}}</p>
                    </div>

                    <div class="col-6">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>